/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common codes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}
.btn button{
    background: #DD0000;
    border-radius: 5px;
}
/* header starts */

.head{
    width: 100%;
    margin-top: 60px;
    background: #161616;
    color: #FFFFFF;
    border-radius: 30px ;
    display: flex;
    padding: 0 70px;
    align-items: center;
}
.head-des, .head-img{
    width: 50%;
}
.head-des{
    display: flex;
    flex-direction: column;
    
}
.head-img img{
    width: 80%;
}
.head-des-title{
    font-size: 1.8rem;
    font-weight: 600;
}

.head-des-btn{
    width: 12rem;
    text-align: center;
}
.head-des-btn button{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    border: none;
    margin-top: 25px;
    transition: all 1s;
}
.head-des-btn button:hover{
    background: #161616;
    border: 2px solid #FF0000;
}

/* header ends */


/* blog strats */
.blog{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.menu{
    width: 300px;
    background: #161616;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.menu a{
    width: 220px;
    padding: 15px;
    margin: 15px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    text-decoration: none;
    color: #161616;
    text-align: center;
}

.menu a:active{
    background: #DD0000;
}
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px ;
    justify-items: center;
}
.card{
    width: 300PX;
    height: 380PX;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.card-img img{
    width: 100%;
}
.card-btn button{
    padding: 4px;
    width: 100px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid gray;

}
.card-para{
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
}
.card-icon i{
    font-weight: 400;
    color: #B9B9B9;
    margin: 10px;
}
.card-icon p{
    display: inline-block;
    padding: 5px;
}
.card-des{
    margin: 15px;
}
.view-all button{
    border: none;
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    display:none;
}

/* index2 card design */
.card2{
    width: 300px;
    height: 250px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 30px;
    margin: 15px;
}
.card2-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.card2-img img{
    margin: 5px;
}
.card2-des{
    text-align: center;
}

/* blog ends */

/* footer starts */

footer{
    
    background: #161616;
    text-align: center;
}

.footer-head{
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
}
.my-foot hr{
    border-bottom: none;
}
.footer-menu{
    margin: 20px;
    display: flex;
    gap: 60px;
    justify-content: center;
}
.footer-menu a{
    text-decoration: none;
    color: #B9B9B9; 
}

.footer-socials i{
    font-size: 2.3em;
    margin: 20px;

}
#fb{
    color: #166FE5;
}
#twit{
   color: #1DA1F2;
}
#yt{
    color: #FF0000;
}

/* footer ends */


/* Media Query */


/* mobile */
@media only screen and (max-width:767px) {
    .head{
        height: 80vh;
        flex-direction: column;
        align-items: center;
        row-gap: 200px;
        padding: 0;
        position: relative;
    }
    .head-img{
        position: absolute;
        bottom: 0;
    }
    .head-des{
        width: 100%;
        height: 40%;
        text-align: center;
    }
    .head-des-btn{
        margin: 0 auto;
    }
   .head-des-para p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    body{
        height: 100vh;
        width: 100%;
    }
    .blog{
        width: 100%;
        flex-direction: column;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .my-foot{
        width: 100%;
    }
    .footer-menu{
        flex-direction: column;
    } 
}
/* Tab */
@media only screen and (max-width:1023px) and (min-width:768px) {
    header{
        width: 100%;
        padding: 20px;
        
    }
    .head{
       align-items: center;
       position: relative;
    }
    .head-img{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .head-des{
        display: flex;
        flex-direction: column;
        padding-bottom: 170px;
    }
    .head-des-para p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .head-des, .head-img{
        width: 50%;
        text-align: center;
    }
    body{
        width: 100%;
    }
    .blog{
        width: 100%;
        flex-direction: column;
    }
    .menu{
        width: 100%;
        background: #FFFFFF;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu a{
        border: 1px solid rgba(128, 128, 128, 0.5);
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .view-all button{
        display: inline-block;
    }
    .view-all{
        text-align: center;
        margin: 0 auto;
    }
    .my-foot{
        width: 100%;
    }
    .footer-menu{
        flex-direction: row;
        gap: 20px;
    }
}